apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: your-username-dev
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/akhilsathwik/prospectf-opsera.git
    targetRevision: HEAD
    path: your-username-opsera/k8s/overlays/dev
  destination:
    server: https://kubernetes.default.svc
    namespace: your-username-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
  revisionHistoryLimit: 3
