apiVersion: v1
kind: Service
metadata:
  name: your-username-backend
  namespace: your-username-dev
  labels:
    app: your-username-backend
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: your-username-backend
