apiVersion: v1
kind: Service
metadata:
  name: your-username-frontend
  namespace: your-username-dev
  labels:
    app: your-username-frontend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: your-username-frontend
