apiVersion: apps/v1
kind: Deployment
metadata:
  name: your-username-frontend
  namespace: your-username-dev
  labels:
    app: your-username-frontend
    component: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: your-username-frontend
  template:
    metadata:
      labels:
        app: your-username-frontend
        component: frontend
    spec:
      containers:
      - name: frontend
        image: PLACEHOLDER_ECR_FRONTEND
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
